.arrow{
    padding: 17px 20px;
    border: 0;
    background-color: rgba(249, 249, 249, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    height: min-content;
  
  }
  
  .arrow:hover{
    background-color: rgba(249, 249, 249, 0.353);
  }
  
  .watchlist{
    font-weight: 800;
    font-size: 16px;
    padding: 15px 18px;
    color: white;
  }
  
  .watch{
    background-color: rgba(248, 179, 25, 1);
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 13px 17px;
    border: 2px solid rgba(248, 177, 25, 0);
  }
  .watch:hover{
  
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(248, 179, 25, 1);
    color: rgba(248, 179, 25, 1);
    backdrop-filter: none;
  }
  
  .secondary {
    -webkit-transition: all .2s ease-in-out;
  }
  
  .secondary:hover {
    -webkit-transform: scale(1.1);
  }
  
  
  @media only screen and (max-width: 1000px) {
    .kaito{
      flex-direction: column;
      gap: 30px;
    }
  
    .secondary{
      width: 100% !important;
      margin-bottom: 50px;
    }
  
    .main{
      overflow: unset !important;
    }
  
    .main .back-img {
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  
  
  @media only screen and (max-width: 600px) {
    .overview{
      width: 350px !important;
    }
  
  }
  
  
  @media only screen and (max-width: 450px) {
    .overview{
      width: 300px !important;
    }
  
    .buttons{
  
      flex-direction: column;
    }
  
  
  }