<div class="sidenav-header no-scroll">
  <img
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="https://img.freepik.com/free-photo/view-3d-cinema-elements_23-2150720822.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1715558400&semt=sph"
    alt=""
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>Movie World</h2>
    <p>Lekso Kashia</p>
  </div>
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let item of menuItems()"
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
      style="text-align: start"
    >
      <mat-icon
        [style.color]="rla.isActive ? 'red' : 'white'"
        [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
        matListItemIcon
        >{{ item.icon }}</mat-icon
      >
      <span
        matListItemTitle
        [style.color]="rla.isActive ? 'red' : 'white'"
        *ngIf="!sideNavCollapsed()"
        >{{ item.label }}</span
      >
    </a>
  </mat-nav-list>

  <!-- @if(favoriteMovies$ | async){
    <section class="favorites-section">
      <div *ngIf="!sideNavCollapsed()">
       
      </div>
  
      
    </section> 
  }@else{
    <h1>byeee</h1>
  } -->

  <section class="favorites-section">
    @if(!sideNavCollapsed()){
    <div class="favorites-cont">
      <h6>Favorites preview</h6>

      @if(favoriteMovies$ | async; as movies){ @if(movies.length > 0){
      <div class="no-scroll" #containerToDrag>
        @for(movie of movies; track movie.id){
        <div class="movie">
          <img
            src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
            alt=""
          />

          <div class="buttons">
            <button class="btn drop del" (click)="dropMovie(movie.id)">
              Drop
            </button>
            <button class="btn watch" [routerLink]="['/movie', movie.id]">
              Watch
            </button>
          </div>
        </div>
        }
      </div>
      }@else{
      <div class="empty">
        <h1>No Movies</h1>
      </div>
      } }
    </div>

    }@else{
    <div class="collapsed-favs">
      <div class="no-scroll" #containerToDrag>
        @for(movie of (favoriteMovies$ | async); track movie.id){
        <div class="movie">
          <img
            src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
            alt=""
          />
        </div>

        }
      </div>
    </div>

    }
  </section>
</div>
